:root {
  --bg-color: #F5F5F5;
  --bg-transition: background 0.1s ease-in-out;
  --border-transition: border 0.1s ease-in-out;
  --accent-color: #635EE7;
  --accent-bg: #d0cff8;
  --accent-bg-light: #efeffd;
  --font-color: #222;
}

body, html {
  color: var(--font-color);
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button {
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
}

a, a:visited {
  text-decoration: none;
  color: var(--accent-color);
}

a:hover {
  text-decoration: underline;
}