.container {
  display: grid;
  grid-template-columns: 1fr minmax(20%, 256px);
  width: 100%;
  height: 100%;
  background: red;
}

.canvas {
  display: flex;
}

.sidebar {

}

.flower {
  width: 64px;
  height: 64px;
}