.canvas {
  display: grid;
  overflow: auto;
  position: sticky;
  grid-gap: 0;
  grid-template-columns: repeat(30, max-content);
  transition: var(--bg-transition);
}

.gridLines {
  grid-gap: 3px;
  padding: 3px;
}

.gridLines > .gridSquare {
  border-radius: 4px;
}

.gridSquare {
  width: 48px;
  height: 48px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition: var(--bg-transition);
  background-size: 48px;
}

.gridSquare > img {
  pointer-events: none;
}

.rectangle {
  z-index: 999;
  border: 1px solid var(--accent-color);
  background: var(--accent-color-transparent);
  box-sizing: border-box;
  position: absolute;
}